# IDEs
.idea/
.vscode/

# Virtual Environment
.venv/

# python
*.pyc
__pycache__

# misc
*.bak
*.patch

# Exclude since data was downloaded by the program
data/MNIST/
data/cifar-10-python.tar.gz
data/cifar-10-batches-py
data/hymenoptera_data

# Statistics for Tensorboard
runs/
lightning_logs/
log/
